form.row.g-3{
    margin-top: 20%;
}
input#nombre.form-control{
    width: 128%;
}
div.modal-dialog{
    width: 50%;
}
div.modal-header{
    background-color: burlywood;
}
div.modal-body{
    background-color: bisque;
}
div.modal-footer{
    background-color: bisque;
}
